

.image-header {
 width: 100%;
}

.navbar {
	padding-top: 0px;
	padding-bottom:0px;

}

ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;


}

#donatebtn {
  margin-top: 4px;
  margin-left: 200px; 
}

.marqueescroll {

	background-color: orange;
}

.description {
	text-align: center;
}

.carousel {
  width: 100%;
  height: 100%;
  /*margin-left: 130px;*/
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 250px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-projects {
	background: tomato;
  padding: 5px;
  width: 650px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-news {
	background: tomato;
  padding: 5px;
  width: 650px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-socialblog{
background: tomato;
  padding: 5px;
   width: 415px;
  height: 412px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-spiritualblog{
background: tomato;
  padding: 5px;
   width: 415px;
  height: 412px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-ourorgs{
background: tomato;
  padding: 5px;
   width: 600px;
  height: 300px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

#copyright {
  text-align: center;
  font-size: 14px;
}

.socialmedia {
  color: black;
}