#sliderandnav {
margin-top: 1px;
margin-bottom: 2px;
}

#sliderhr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#deschr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-header {
 width: 100%;
}

.navbar {
	padding-top: 4px;
	padding-bottom:4px;
  background-color: white;

}

ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block;
    font-family: 'PT Sans', sans-serif;

}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
   font-family: 'Alegreya SC', serif;
}

.dropdown-menu >  a {
  text-decoration: none !important;
}

.socialicons > a {
  text-decoration: none !important;
}	
#donatebtn {
  margin-top: 4px;
  margin-left: 200px; 
}

.marqueescroll {
  font-family: 'Metrophobic', sans-serif;
}

.description {
	text-align: center;
  font-family: 'Acme', sans-serif;
}

.carousel {
  width: 100%;
  height: 100%;
  /*margin-left: 130px;*/
}

.dropdown-submenu {
  position: relative;
}

#copyright {
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: 'Asap Condensed', sans-serif;
}

.socialmedia {
  background-color: #233140;
  color: white;
}

.footerimg {
  text-align: center;
  padding-right: 20px;
  border-bottom: 0px;
}

}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#publication {
  font-family: 'Fenix', serif;
  font-size: 16px;
}

.footercontactdetails {
  font-family: 'Times New Roman'
  font-size: 15px;
}

#footercontacthead {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 18px;
}

#footerlinks {

  color: white;
}

#footerlinks1 {
  color: white;
  font-size: 13px;
  text-align: center;
}




.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
