

.image-header {
 width: 100%;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.marqueescroll {

	background-color: orange;
}

#bs-example-navbar-collapse-1 {
	margin-left: -120px;
}

#donate {

	position: absolute;
    right: 20px;
    top: 15px;
	height: 40px;
    width: 110px;
}

.description {
	text-align: center;
}

.carousel {
  width: 100%;
  height: 100%;
}

